<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.corresponsal" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31" >
        <activity
            android:name=".view.Banco.CrearClienteActivity"
            android:exported="false" />
        <activity
            android:name=".view.Banco.PinBActivity"
            android:exported="false" />
        <activity
            android:name=".view.Corresponsal.PinCoActivity"
            android:exported="false" />
        <activity
            android:name=".view.Corresponsal.ConfirmarCorresponsalActivity"
            android:exported="false" />
        <activity
            android:name=".view.ActualizarCorresponsalActivity"
            android:exported="false" />
        <activity
            android:name=".view.Banco.ActualizarClienteActivity"
            android:exported="false" />
        <activity
            android:name=".view.Corresponsal.SaldoActivity"
            android:exported="false" />
        <activity
            android:name=".view.Corresponsal.HistorialTransaccionalActivity"
            android:exported="false" />
        <activity
            android:name=".view.Corresponsal.TransferenciasActivity"
            android:exported="false" />
        <activity
            android:name=".view.Corresponsal.DepositosActivity"
            android:exported="false" />
        <activity
            android:name=".view.Corresponsal.RetirosActivity"
            android:exported="false" />
        <activity
            android:name=".view.Corresponsal.PagoActivity"
            android:exported="false" />
        <activity
            android:name=".view.Banco.ListaCorresponsalesActivity"
            android:exported="false" />
        <activity
            android:name=".view.Banco.ListaClientesActivity"
            android:exported="false" />
        <activity
            android:name=".view.Banco.ConsultarCorresponsalActivity"
            android:exported="false" />
        <activity
            android:name=".view.Banco.ConsultarClienteActivity"
            android:exported="false" />
        <activity
            android:name=".view.Banco.RegistrarCorresponsalActivity"
            android:exported="false" />
        <activity
            android:name=".view.Corresponsal.CrearClienteBankActivity"
            android:exported="false" />
        <activity
            android:name=".view.Banco.MainBActivity"
            android:exported="false" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.Corresponsal.MainActivityC"
            android:exported="false" />
    </application>

</manifest>